/* INDEX*/
.h1{
	text-align: center;
	font-size: 40px;
}

.image {
	position:absolute;
	top:60%;
	left:50%;
	margin-top:-320px;
	margin-left: -480px;
}

.image:hover {
	position:absolute;
	top:60%;
	left:50%;
	margin-top:-320px;
	margin-left: -480px;
	border:1px solid white;
}

.image:active {
    border-color: hotpink;
		text-decoration: none;
}

body{
	background-color: black;
}

p{
	color:white;
}

a{
	color:white;
	text-decoration: none;
}

a:hover {
    color:;
    background-color: transparent;
		text-decoration:   underline;
}

a:active {
    color: hotpink;
		text-decoration: none;
}

/* ALBUM */
.albumcover{
	position:absolute;
	top:70%;
	left:50%;
	margin-top:-320px;
	margin-left: -402px;
}

/* 20 */
.table20{
	color:white;
	 border-bottom: 1px solid #ddd;
	  border-top: 1px solid #ddd;
text-align:center;
position:absolute;
left:50%;
margin-left: -80px;
	top:50%;
}

.albumcoverpic{
	position:absolute;
	left:50%;
	margin-left: -80px;
		top:20%;
}

.table22{
	color:white;
	 border-bottom: 1px solid #ddd;
	  border-top: 1px solid #ddd;
text-align:center;
position:absolute;
left:50%;
margin-left: -38px;
	top:50%;
}

.tablepandabear{
	color:white;
	 border-bottom: 1px solid #ddd;
	  border-top: 1px solid #ddd;
text-align:center;
position:absolute;
left:50%;
margin-left: -30px;
	top:50%;
}

.tableluckyyou{
	color:white;
	 border-bottom: 1px solid #ddd;
	  border-top: 1px solid #ddd;
text-align:center;
position:absolute;
left:50%;
margin-left: -20px;
	top:50%;
}

.lyriclonely{
	color:white;
	text-align:center;
	position:absolute;
	left:50%;
		margin-left: -120px;
		top:100%;
		font-size:20px;
}

.lyricroller{
	color:white;
	text-align:center;
	position:absolute;
	left:50%;
		margin-left: -140px;
		top:190%;
		font-size:20px;
}


.lyricohio{
	color:white;
	text-align:center;
	position:absolute;
	left:50%;
		margin-left: -110px;
		top:300%;
		font-size:20px;
}

.위잉위잉{
	color:white;
	text-align:center;
	position:absolute;
	left:50%;
		margin-left: -130px;
		top:470%;
		font-size:20px;
	}
